﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all-debug.css">
    <script type="text/javascript" src="ext/build/ext-all-debug.js"></script>
    <!--<script type="text/javascript" src="ext/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script> -->

    <script type="text/javascript" src="ext/packages/sencha-charts/build/sencha-charts.js"></script>
    <link rel="stylesheet" type="text/css" href="ext/packages/sencha-charts/build/crisp/resources/sencha-charts-all.css">

</head>
<body>
    @RenderBody()
</body>
</html>
